<!DOCTYPE html>
<html>
  <head>
    <title>The Long Poll</title>
  </head>
  <body>
    <h1>Wecome Poll Admin:</h1>
    <div id="container" class="col">
      <p>Now Viewing Poll: <%=poll.title%> </p>
    </div>
    <div id="connection-count"></div>
    <div id="status-message"></div>
    <div id="choices">
      <button><%=poll.options1%></button>
      <button><%=poll.options2%></button>
      <button><%=poll.options3%></button>
      <button><%=poll.options4%></button>
    </div>
    <div id="A"></div>
    <div id="B"></div>
    <div id="C"></div>
    <div id="D"></div>
    <div id="vote-confirmation"></div>
  </body>
</html>
